pkgbase = sway-session
	pkgdesc = Persistent work sessions for Sway
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/marang/sway-session
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = go>=1.26.5
	depends = sway
	options = !debug
	source = sway-session-0.1.0.tar.gz::https://github.com/marang/sway-session/archive/refs/tags/v0.1.0.tar.gz
	sha256sums = SKIP

pkgname = sway-session
